/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        red                  #ff5e5e  
        Gray                 #8a8a8a
        light-black          #333333
        purple               #6255a5;
        White:               #fff
        Black:               #000   
============================================ */
/* =========================================
                Html, Body
============================================ */
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

/*h1,h2,h3,h4,h5,h6{
      text-align: center;
      font-size: 34px; 
      font-weight: 600;
      line-height: 38px;
      color: #6255a5;
  }
  /* =========================================
                  Content Boxes
  ============================================ */

.content-box-lg {
  padding: 120px 0;
}
.content-box-md {
  padding: 100px 0;
}

.content-box-sm {
  padding: 90px 0;
}

/* =========================================
                  Buttons
  ============================================ */
.btn-general {
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  width: 480px;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.btn-home {
  color: #fff;
  width: 172px;
  line-height: 22px;
  font-style: bold(600);
  border: 1px solid white;
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #6255a5;
  border: 1px solid #6255a5;
}

.btn-purple {
  color: #fff;
  background: #6255a5;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-home:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #6255a5;
  background-color: #fff;
  border: 1px solid #6255a5;
}
/* =========================================
                  Navigation
  ============================================ */
.site-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.site-header .header-wrapper {
  padding: 0px 20px;
}
.sticky-header .site-header {
  height: 100px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}
.site-header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  padding: 0 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 12.5px 0px;
}

.site-header .header-wrapper .logo-wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
}

.site-header .header-wrapper .logo-wrapper a img {
  padding-bottom: 10px;
}

.site-header .header-wrapper .logo-wrapper {
  position: relative;
  z-index: 9;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li {
  margin: 0 20px;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  li.active
  a {
  border-bottom: 3px solid #6255a5;
  padding-bottom: 6px;
  margin-top: 6px;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}
.sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  color: #333333;
}
.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general {
  text-transform: none;
  line-height: 18px;
  color: #fff;
}
.sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general {
  color: #fff;
}
/* dropdown */
.site-header li .dropdown .dropdown-item {
  height: 40px;
  color: #333333;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 32px !important;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}

.site-header li .dropdown .dropdown-item:hover {
  background: #6255a5;
  color: #fff !important;
}

.site-header li .dropdown .dropdown-item.active {
  background: #6255a5;
  color: #fff !important;
}

.site-header li .dropdown .dropdown-item.logout-btn-dropdown {
  text-transform: uppercase;
  color: #6255a5 !important;
  font-weight: 600 !important;
}

.site-header li .dropdown .dropdown-item.logout-btn-dropdown:hover {
  color: #fff !important;
}

/* to center align dropdown with li  */
.main-nav
  li.logged-in-user-photo-li
  .dropdown.user-picture-dropdown
  .dropdown-menu {
  -webkit-transform: translate3d(-70px, 55px, 0px) !important;
  transform: translate3d(-70px, 55px, 0px) !important;
}

.main-nav li .dropdown.notes-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(-70px, 25px, 0px) !important;
  transform: translate3d(-70px, 25px, 0px) !important;
}

.main-nav li .dropdown.reports-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(-50px, 25px, 0px) !important;
  transform: translate3d(-50px, 25px, 0px) !important;
}

.main-nav li .dropdown.settings-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(-110px, 25px, 0px) !important;
  transform: translate3d(-110px, 25px, 0px) !important;
}

/* in mobile menu */

#mobile-nav li.logged-in-user-photo-li .dropdown-menu {
  -webkit-transform: translate3d(25px, -110px, 0px) !important;
  transform: translate3d(25px, -110px, 0px) !important;
}

#mobile-nav li .dropdown.notes-btn-dropdown {
  /* width: 55px; */
  /* margin: auto; */
}

#mobile-nav li .dropdown.notes-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(0px, 30px, 0px) !important;
  transform: translate3d(0px, 30px, 0px) !important;
}

#mobile-nav li .dropdown.reports-btn-dropdown {
  /* width: 73px; */
  /* margin: auto; */
}

#mobile-nav li .dropdown.reports-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(0px, 30px, 0px) !important;
  transform: translate3d(0px, 30px, 0px) !important;
}

#mobile-nav li .dropdown.settings-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(0px, -220px, 0px) !important;
  transform: translate3d(0px, -220px, 0px) !important;
}

#mobile-nav li .logged-in-user-photo {
  /* margin: auto !important; */
  width: 60px;
  margin: 20px 0px 20px 0px;
}

.sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general {
  color: #fff;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general:hover,
.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general:focus {
  color: #6255a5;
}

.menu-navigation .btn-general {
  width: 89px;
  height: 33px;
}
.white-nav .site-header {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  color: #000;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a.btn-general {
  color: #fff;
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a.btn-general:hover {
  color: #6255a5;
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  .dropdown-item:hover {
  color: #fff !important;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* mobile nav */
#my-profile #mobile-nav li a.btn-general {
  color: #fff;
  width: 110px;
  text-transform: none;
  height: 40px;
  line-height: 23px;
}

#my-profile #mobile-nav li a.btn-general:hover {
  color: #6255a5;
}

#user-profile #mobile-nav li:nth-child(5) {
  margin-top: 0px;
}

/* when user is not logged in hide the user tile in nav */

#mobile-nav li .logged-in-user-photo {
  margin: auto;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

#mobile-nav li .logged-in-user-photo img {
  margin-bottom: 8px;
  width: 60px;
  height: 60px;
}

/* =========================================
                  Footer
  ============================================ */
/* =========================================
                  Social Icons
  ============================================ */
footer {
  background: white;
  border-top: 2px solid #f5f5f5;
  padding: 20px;
}

footer p {
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  margin-left: 0px;
}
.social-list {
  padding: 0px;
  margin: 0px;
  float: right;
}

ul.social-list li {
  display: inline-block;
  padding-left: 7px;
  padding: 1px;
}
ul.social-list li a {
  text-align: center;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  border-radius: 50%;
  color: white;
  background: #6255a5;
}
ul.social-list li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background: #00aced;
  border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
  background: #0e76a8;
  border-color: transparent;
}

/* ===============================================================
                                  login.html
  ================================================================== */
/* background image */
.back-img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
/* =========================================
                  login
  ============================================ */

#login {
  margin: 30px 0px;
}
.top-logo {
  margin-bottom: 20px;
}
#login-box,
#forgot-pswd-box,
#change-pswd-box,
#sign-up-box,
#email-box {
  padding: 30px;
  margin: auto;
  min-height: 390px;
  max-width: 580px;
  background: white;
  border-radius: 3px;
}
#login-box h2,
#sign-up-box h2,
#change-pswd-box h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 34px;
  color: #6255a5;
  font-weight: 600;
}
#login .user-guide {
  margin: 0px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}

/* form */
.control-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

/* form input */
.input-box {
  border: 1px solid #d1d1d1;
  max-width: 480px;
  height: 50px;
  border-radius: 3px;
  /* Style for entered text in input box */
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

#email-field.input-box:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #6255a5;
}

#password-field.input-box:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ff5e5e;
  border-left: 2px solid #ff5e5e;
}

.forgot-password-label-box {
  float: right;
}

.forgot-password-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 35px;
  color: #6255a5;
}

.forgot-password-label:hover {
  text-decoration: none;
  color: #6255a5;
}

/* eye image */
.eye {
  float: right;
  position: relative;
  margin: 0px;
  margin-top: -50px;
}

.eye-img {
  margin-right: 50px;
}

.incorrect-password-label p {
  margin: 0px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #ff5e5e;
}
.incorrect-password-label p > span {
  font-weight: 600;
}
.form-check {
  margin-top: 20px;
}
#check-box {
  border: 1px solid #d1d1d1;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-top: 0px;
}
input[type="checkbox" i] {
  background-color: #6255a5 !important;
}

#remember-me {
  line-height: 30px;
  margin-left: 25px;
}
.form-btn .btn {
  margin-top: 30px;
}

toggle-btwn-login-signup {
  margin-top: 20px;
}

.toggle-btwn-login-signup p {
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.toggle-btwn-login-signup p span a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6255a5;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.toggle-btwn-login-signup p span a:hover {
  text-decoration: none;
}

/* =========================================
                  forgot-password
  ============================================ */
#forgot-password {
  margin: 150px 0px;
}

#forgot-pswd-box {
  min-height: 300px;
}
#forgot-password h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  line-height: 25px;
  margin-bottom: 20px;
}

#forgot-password .user-guide {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}
/*=========================================
                  change-password
  ============================================ */
#change-pswd {
  margin: 70px 0px 0px 0px;
}
#change-pswd-box {
  height: auto;
}
#change-pswd h2 {
  line-height: 25px;
}
#change-pswd .user-guide {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}
/* =========================================
                  Sign-up
  ============================================ */
#sign-up {
  margin: 30px 0px;
}
#sign-up-box {
  height: auto;
}
#sign-up .user-guide {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}
.msg p {
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 12px;
  color: green;
}

/* =========================================
                  my-profile
  ============================================ */

/* content box */
.general-box .content-box-lg {
  padding: 0px;
  padding-top: 60px;
}
#my-profile .content-box-md {
  padding-top: 50px;
  padding-bottom: 10px;
}
#my-profile {
  font-family: "open sans", sans-serif;
}
#my-profile .profile-heading {
  margin-bottom: 30px;
  margin-top: 40px;
  font-size: 30px;
  color: #6255a5;
  font-weight: 600;
  line-height: 36px;
}
#my-profile input,
option {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a !important;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

.my-profile-photo-uploader {
  position: relative;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  height: 66px;
}
.my-profile-photo-uploader input {
  /* display: none; */
  opacity: 0;
  height: 66px;
  position: absolute;
  top: 0;
}
.my-profile-photo-uploader img {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#my-profile-submit-btn {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #6255a5;
  width: 150px;
  height: 45px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#my-profile-submit-btn:hover {
  background-color: white;
  color: #6255a5;
}

/* =========================================
                  Dashboard
  ============================================ */
#dashboard .content-box-lg {
  padding: 60px 0px;
}

.dashboard-heading,
.download-heading {
  font-family: "Open-Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

#dashboard .box-heading {
  margin-top: 15px;
}

.dashboard-box {
  padding: 15px 20px;
}
.dashboard-box p {
  margin-bottom: 0px;
}

.dashboard-single-details {
  margin-top: 20px;
  margin-bottom: 10px !important;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #6255a5;
}

.dashboard-detail-heading {
  margin-top: 10px;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
}
.dashboard-content .dashboard-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 0px 10px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

/*publish Notes*/
.progress-heading {
  margin-top: 20px;
  font-family: "Open-Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}
.general-search-bar-btn-wrapper {
  float: right;
}

.progress-btn {
  margin-left: 10px;
  width: 117px;
  height: 50px;
  line-height: 22px;
}
.month-box {
  height: 50px;
  width: 150px;
  font-size: 15px;
  color: #888888;
  margin-left: 10px;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 40px;
  height: 50px;
  margin-top: 5px;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has-search .form-control {
  padding-left: 35px;
}
.search-bar {
  height: 50px;
}
/* table */

.general-table-responsive {
  margin-top: 5px;
  margin-bottom: 30px;
}

.general-table-responsive .table-bordered td,
.general-table-responsive .table-bordered th {
  border: none;
}

.general-table-responsive .table-bordered {
  border: 1px solid #d1d1d1;
  border-radius: 3px !important;
}

.general-table-responsive .table-bordered thead {
  border-bottom: 1px solid #d1d1d1;
}

.general-table-responsive .table-bordered tr {
  height: 75px;
  border-bottom: 1px solid #d1d1d1;
}

.general-table-responsive th,
.general-table-responsive td {
  vertical-align: middle !important;
}

.general-table-responsive .table-bordered tr th {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
}

.general-table-responsive .table-bordered tr td {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.general-table-responsive .table-bordered tr {
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.general-table-responsive .table-bordered tr:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.general-table-responsive .edit-img-in-table {
  margin-right: 15px;
}

/* pagination */
#dashboard .in-progress-notes-table {
  margin-bottom: 0px;
}

#dashboard .pagination {
  margin-bottom: 0px;
}

#dashboard .content-box-lg {
  padding-bottom: 20px;
}

#dashboard
  .in-progress-notes-table.general-table-responsive
  .table-bordered
  td
  .eye-img-in-table,
#dashboard
  .published-notes-table.general-table-responsive
  .table-bordered
  td
  .eye-img-in-table {
  margin: 0px;
}

#dashboard footer {
  margin-top: 40px;
}

/* to make table responsive  */

.general-table-responsive .table-bordered tr td,
.general-table-responsive .table-bordered tr th {
  white-space: nowrap;
  overflow: hidden;
}

.general-table-responsive .table-bordered tr td.visible-overflow-for-dropdown {
  white-space: normal !important;
  overflow: visible !important;
}

/* =========================================
                  manage admin
  ============================================ */
#manage-admin .dashboard-heading {
  margin-bottom: 20px;
}
#manage-admin .admin-btn {
  margin-top: 0px;
  height: 50px;
  width: 250px;
}
#manage-admin .content-box-lg {
  margin-top: 20px;
  padding-bottom: 10px;
}
/* =========================================
                 add category/add type
  ============================================ */
#add-admin .admin-heading,
#add-category .category-heading,
#add-country .country-heading,
#add-type .type-heading {
  margin-top: 70px;
  margin-bottom: 35px;
  font-family: "Open-Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
#add-admin .content-box-lg,
#add-category .content-box-lg,
#add-country .content-box-lg,
#add-type .content-box-lg {
  padding: 0px;
}

#add-category-textarea {
  height: 130px;
  width: 102%;
}
#add-admin-btn {
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  margin-bottom: 20px;
}
/* =========================================
                 Manange-category
  ============================================ */
#manage-category .dashboard-heading {
  margin-bottom: 20px;
}
#manage-category .add-type-btn {
  margin-top: 0px;
  height: 50px;
  width: 200px;
}
#manage-category .content-box-lg {
  margin-top: 20px;
  padding-bottom: 10px;
}
/* =========================================
                 add country
  ============================================ */

#add-country .content-box-lg {
  padding: 40px 0px 50px 0px;
}
#add-country .country-btn {
  margin-bottom: 50px;
}
/* =========================================
                 Manange-country
  ============================================ */
#manage-country .dashboard-heading {
  margin-bottom: 20px;
}
#manage-country .add-type-btn {
  margin-top: 0px;
  height: 50px;
  width: 200px;
}
#manage-country .content-box-lg {
  margin-top: 20px;
  padding-bottom: 10px;
}

/* =========================================
                 Manange-type
  ============================================ */
#manage-type .dashboard-heading {
  margin-bottom: 20px;
}
#manage-type .add-type-btn {
  margin-top: 0px;
  height: 50px;
  width: 200px;
}
#manage-type .content-box-lg {
  margin-top: 20px;
  padding-bottom: 10px;
}
/* =========================================
                manage system configuration
  ============================================ */
.profile-heading {
  font-size: 34px;
  color: #6255a5;
  font-weight: 600;
  line-height: 36px;
}
.dashboard-heading {
  font-size: 34px;
  color: #6255a5;
  font-weight: 600;
  line-height: 36px;
}
.form-control {
  height: 50px;
  margin-bottom: 10px;
}
#manage-system-config .content-box-lg {
  padding-top: 50px;
  padding-bottom: 10px;
}
/* =========================================
                  Note-details
  ============================================ */
#notes-details .note-upper.content-box-lg {
  padding-top: 150px;
}
#notes-details .content-box-lg {
  padding: 60px 0px 40px 0px;
}
.border-bottom {
  border-bottom: 1px solid #d1d1d1;
  margin: 5px 110px;
}
.notes-heading-1,
.notes-heading {
  margin-top: 0px;
  font-family: "Open-Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 20px;
}
.notes-img {
  height: 300px;
  width: 240px;
}
.notes-box-details {
  margin-left: 0px;
  margin-bottom: 0px;
}
.notes-name {
  margin-top: 5px;
  font-family: "Open-Sans", sans-serif;
  font-size: 31px;
  /font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  margin-bottom: 15px;
}
.notes-type {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}
.notes-des {
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin-bottom: 20px;
}
.notes-box-details .btn-purple {
  width: 200px;
}
.notes-details-left-section {
  margin-left: 100px;
}
.notes-details-left-section .about-notes {
  font-family: "Open-Sans", sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #333333;
}
.notes-details-right-section .about-notes {
  font-family: "Open-Sans", sans-serif;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #6255a5;
}
.about-notes span i {
  text-align: right;
  color: #deb217;
}
#notes-details .user-review {
  margin-left: 100px;
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #df3434;
}
#notes-details .btn-purple {
  width: 200px;
}

/* note preview - review */
.notes-preview-box {
  margin-right: 15px;
}
.notes-preview-box iframe {
  margin-right: 20px;
  height: 510px;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}
.review-section {
  margin-left: 30px;
}
.review-box {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  padding: 30px;
}
.reviewer-img {
  width: 50px;
  height: 50px;
}
.review-box-des p {
  margin-bottom: 0px;
}
.reviwer-name {
  margin-top: 10px;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
}
.reviewer-rating {
  margin-top: 0px;
}
.reviewer-rating span img {
  height: 20px;
}
.reviewer-text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
.review-border {
  border-bottom: 1px solid #d1d1d1;
  margin: 20px 0px;
}

/* thanks popup */

.modal-content {
  border: none;
}

.modal-header {
  border: none;
  height: 50px;
}

.modal-body {
  padding: 0px 40px 30px 40px;
}

.modal-header button.close {
  outline: none;
}

#notes-details .modal-body .thanks-img {
  margin-bottom: 15px;
}

.modal-body p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

#thanks-popup.modal-body p.buyer-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #333333;
}

#thanks-popup .modal-body p:last-child {
  margin-bottom: 0px;
}

#thanks-popup .modal-body .thanks-heading {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  color: #6255a5;
}
/* =========================================
                  members
  ============================================ */
#member-details .content-box-lg {
  padding-bottom: 60px;
}
#members .member-heading {
  margin-top: 15px;
  font-size: 30px;
  color: #6255a5;
  font-weight: 600;
}
#members .members-table.general-table-responsive {
  /* transform: scale(0.9); */
}

#members .general-table-responsive .table-bordered tr th,
#members .general-table-responsive .table-bordered tr td {
  white-space: normal;
  overflow: auto;
  font-size: 14px;
}

/* =========================================================================
                                  member-details
  ============================================================================ */
#member-details .content-box-lg {
  padding-bottom: 60px;
}
#member-details .member-heading {
  margin-top: 20px;
  font-size: 30px;
  color: #6255a5;
  font-weight: 600;
  margin-bottom: 20px;
}
.member-personal-details-wrapper {
  padding-right: 20px;
  border-right: 1px solid #d1d1d1;
}

.member-address-wrapper {
  padding-right: 20px;
  margin-left: 30px;
}
#member-details .content-box-md {
  padding-top: 30px;
  padding-bottom: 10px;
}
.member-personal-details-wrapper .member-single-detail-right-wrapper {
  margin-right: 25px;
}

.member-single-detail-left-wrapper {
  text-align: left;
  display: grid;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.member-single-detail-right-wrapper {
  text-align: left;
  display: grid;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.member-single-detail-left-wrapper .member-single-detail-left {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
}

.member-single-detail-right-wrapper .member-single-detail-right {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #6255a5;
}

#member-details .member-note-heading {
  margin-top: 10px;
  font-size: 30px;
  color: #6255a5;
  font-weight: 600;
  margin-bottom: 10px;
}
#members .members-table.general-table-responsive {
  /* transform: scale(0.9); */
}

#member-details .general-table-responsive .table-bordered tr th,
#member-details .general-table-responsive .table-bordered tr td {
  white-space: normal;
  overflow: auto;
  font-size: 16px;
}

/* =========================================
                  spam-report
  ============================================ */
#spam .content-box-lg {
  margin-top: 20px;
  padding-bottom: 10px;
}
#spam .spam-heading {
  font-family: "Open-Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
/* =========================================
                  note-under-review
  ============================================ */
.all-notes {
  padding-top: 80px;
}
#note-under-review .note-heading,
#publish-note .note-heading,
#download .note-heading,
#rejected-note .note-heading {
  margin-top: 50px;
  font-size: 34px;
}
#note-under-review .content-box-md,
#publish-note .content-box-md,
#download .content-box-md,
#rejected-note .content-box-md {
  padding: 10px 0px 0px 0px;
  margin-bottom: 0px;
}
#note-under-review .content-box-lg {
  padding: 10px 0px 0px 0px;
  margin-bottom: 10px;
}
#note-under-review .info-label {
  font-size: 18px;
  color: #333333;
  font-family: "Open-Sans", sans-serif;
}
#note-under-review .seller-box {
  width: 150px;
  height: 50px;
  color: #888888;
  margin-top: 0px;
  margin-bottom: 0px;
}
#note-under-review .search-bar-btn-box {
  margin-top: 25px;
  margin-bottom: 0px;
}

#note-under-review .action-btn-in-table {
  border-radius: 3px;
  font-size: 14px;
  height: 30px;
  font-weight: 600;
  line-height: 14px;
  color: #fff;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

#note-under-review .action-btn-in-table:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#note-under-review #approve-btn {
  background: #28a745;
}

#note-under-review #approve-btn:hover,
#note-under-review #approve-btn:focus {
  background: #fff;
  color: #28a745;
  border: 1px solid #28a745;
}

#note-under-review #reject-btn {
  background: #ff3636;
}

#note-under-review #reject-btn:hover,
#note-under-review #reject-btn:focus {
  background: #fff;
  color: #ff3636;
  border: 1px solid #ff3636;
}

#note-under-review #inreview-btn {
  background: #cccccc;
}

#note-under-review #inreview-btn:hover,
#note-under-review #inreview-btn:focus {
  background: #fff;
  color: #cccccc;
  border: 1px solid #cccccc;
}

#note-under-review #cancel-btn {
  background: #cccccc;
}

#note-under-review #cancel-btn:hover,
#note-under-review #cancel-btn:focus {
  background: #fff;
  color: #cccccc;
  border: 1px solid #cccccc;
}

#note-under-review .modal .modal-body .note-name-reject-popup {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 25px;
}

#note-under-review .modal .modal-body textarea {
  height: 150px;
  margin-bottom: 20px;
}

#note-under-review .reject-popup-btns {
  float: right;
}

#note-under-review .reject-popup-btns #reject-btn {
  margin-right: 10px;
}

/* =========================================
                  Publish note
  ============================================ */
#publish-note .content-box-lg,
#download .content-box-lg,
#rejected-note .content-box-lg {
  padding: 10px 0px 0px 0px;
  margin-bottom: 10px;
}
#publish-note .info-label,
#download .info-label,
#rejected-note .info-label {
  font-size: 18px;
  color: #333333;
  font-family: "Open-Sans", sans-serif;
}
#publish-note .seller-box {
  width: 150px;
  height: 50px;
  color: #888888;
  margin-top: 0px;
  margin-bottom: 0px;
}
#publish-note .search-bar-btn-box {
  margin-top: 25px;
  margin-bottom: 0px;
}
/* =========================================
                 Download
  ============================================ */
#download .note-box {
  padding: 5px;
  width: 100%;
  height: 50px;
  color: #888888;
  margin-top: 0px;
  margin-bottom: 0px;
}
#download .search-bar-btn-box {
  margin-top: 25px;
  margin-bottom: 0px;
}
/* =========================================
                  rejected-note
  ============================================ */
#rejected-note .seller-box {
  width: 150px;
  height: 50px;
  color: #888888;
  margin-top: 0px;
  margin-bottom: 0px;
}
#rejected-note .search-bar-btn-box {
  margin-top: 25px;
  margin-bottom: 0px;
}
.options-arrow-down {
  background-image: url(../images/user-profile/down-arrow.png);
  background-repeat: no-repeat;
  background-position: 96% center;
  position: relative;
  color: #333333;
  cursor: pointer;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

/* pagination */
.pagination {
  margin-bottom: 40px;
}
.page-item:nth-child(2) .page-link {
  background-color: #6255a5;
  color: #fff;
}

li.page-item {
  width: 36px;
  height: 36px;
  margin: 0px 5px 0px 5px;
}

li.page-item a {
  width: 36px;
  height: 36px;
}

li.page-item a {
  padding-left: 14px;
}
.page-item:last-child .page-link img,
.page-item:first-child .page-link img {
  margin-bottom: 5px;
}

.page-item:first-child {
  margin-right: 6px;
}

.page-item:first-child .page-link img {
  margin-left: -2px;
}

.page-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  color: #333333;
  border-radius: 50%;
  -webkit-transition: all ease-out 0.15s;
  transition: all ease-out 0.15s;
}

.page-link:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
  background-color: #6255a5;
  border-color: #6255a5;
}

.page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  text-decoration: none;
  background-color: #6255a5;
  border-color: #6255a5;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
  border: none;
  border-radius: 50%;
}

.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:hover {
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  border: 1px solid #6255a5;
}

.page-item:last-child .page-link:focus,
.page-item:first-child .page-link:focus {
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  border: 1px solid #6255a5;
}

/* =========================================================================
                                  my-downloads.html
  ======================================================*/

.general-table-responsive table tbody tr td a img.dots-in-table {
  margin: 0px;
  width: 4px;
  height: 20px;
}

.general-table-responsive table tbody tr td .dropdown {
  display: inline;
  margin: 0px;
  width: 4px;
}

.general-table-responsive table tr td.purple-td {
  color: #6255a5;
}

.eye-img-in-table {
  margin-right: 15px;
}

/* dropdown */
.dropdown-dots-table .dropdown-item {
  height: 40px;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 32px !important;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}

.dropdown-dots-table .dropdown-item:hover {
  background: #6255a5;
  color: #fff !important;
}

.dropdown-dots-table .dropdown-item.active {
  background: #6255a5;
  color: #fff !important;
}

/* to center align dropdown with img  */
.dropdown.dropdown-dots-table .dropdown-menu {
  -webkit-transform: translate3d(-200px, 25px, 0px) !important;
  transform: translate3d(-200px, 25px, 0px) !important;
}

/* review popup */

#download-popup .modal .add-review-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 35px;
}

#download-popup .modal .modal-body .add-reviews-stars img {
  height: 45px;
  width: 45px;
  margin-right: 15px;
  margin-bottom: 40px;
}

#download-popup .modal .modal-body .form-group .input-box-style {
  border: 1px solid #d1d1d1;
  height: 100px;
}

#download-popup .info-label {
  margin-bottom: 10px;
}
#download-popup .modal .modal-body .form-group .input-box-style:focus {
  border: 2px solid #d1d1d1;
}

#download-popup .modal .modal-body .form-btn .btn-general {
  width: 150px;
}
