/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        red                  #ff5e5e  
        Gray                 #8a8a8a
        light-black          #333333
        purple               #6255a5;
        White:               #fff
        Black:               #000   
============================================ */
/* =========================================
                Html, Body
============================================ */
.panel-body {
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
.panel-body p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: Light(300);
  line-height: 20px;
  color: #ff3636;
  margin-top: 10px;
  margin-bottom: 20px;
}
.panel-body h3 {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 20px;
  color: #6255a5;
}
------------------- .panel-body h4 {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 20px;
  color: #6255a5;
}
----------------------- .panel-body p {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
-------------------- body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

/* =========================================
                  Content Boxes
  ============================================ */

.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

.content-box-sm {
  padding: 90px 0;
}

/* =========================================
                  Buttons
  ============================================ */
.btn-general {
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  width: 480px;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.btn-home {
  color: #fff;
  width: 172px;
  line-height: 22px;
  font-style: bold(600);
  border: 1px solid white;
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #6255a5;
  border: 1px solid #6255a5;
}

.btn-purple {
  color: #fff;
  background: #6255a5;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-home:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #6255a5;
  background-color: #fff;
  border: 1px solid #6255a5;
}

/* =========================================
                  Navigation
  ============================================ */
.site-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.site-header .header-wrapper {
  padding: 0px 20px;
}

.sticky-header .site-header {
  height: 100px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: #fff;
}

.site-header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  padding: 0 90px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 12.5px 0px;
}

.site-header .header-wrapper .logo-wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
}

.site-header .header-wrapper .logo-wrapper a img {
  padding-bottom: 10px;
}

.site-header .header-wrapper .logo-wrapper {
  position: relative;
  z-index: 9;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li {
  margin: 0 15px;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  li.active
  a {
  border-bottom: 3px solid #6255a5;
  padding-bottom: 6px;
  margin-top: 6px;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  line-height: 20px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}

.sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  color: #333333;
}

#home-header
  .sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  color: #333333;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general {
  text-transform: none;
  line-height: 18px;
  color: #fff;
}

.sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general {
  color: #fff;
}

/* dropdown */
.site-header li .dropdown .dropdown-item {
  height: 40px;
  color: #333333;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 32px !important;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}

.site-header li .dropdown .dropdown-item:hover {
  background: #6255a5;
  color: #fff !important;
}

.site-header li .dropdown .dropdown-item.active {
  background: #6255a5;
  color: #fff !important;
}

.site-header li .dropdown .dropdown-item.logout-btn-dropdown {
  text-transform: uppercase;
  color: #6255a5 !important;
  font-weight: 600 !important;
}

.site-header li .dropdown .dropdown-item.logout-btn-dropdown:hover {
  color: #fff !important;
}

/* to center align dropdown with li  */
.main-navigation
  li.logged-in-user-photo-li
  .dropdown.user-picture-dropdown
  .dropdown-menu {
  -webkit-transform: translate3d(-70px, 55px, 0px) !important;
  transform: translate3d(-70px, 55px, 0px) !important;
}

.main-navigation li .dropdown.notes-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(-70px, 25px, 0px) !important;
  transform: translate3d(-70px, 25px, 0px) !important;
}

.main-navigation li .dropdown.reports-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(-50px, 25px, 0px) !important;
  transform: translate3d(-50px, 25px, 0px) !important;
}

.main-navigation li .dropdown.settings-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(-110px, 25px, 0px) !important;
  transform: translate3d(-110px, 25px, 0px) !important;
}

/* in mobile menu */

#mobile-nav li.logged-in-user-photo-li .dropdown-menu {
  -webkit-transform: translate3d(25px, -110px, 0px) !important;
  transform: translate3d(25px, -110px, 0px) !important;
}

#mobile-nav li .dropdown.notes-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(0px, 30px, 0px) !important;
  transform: translate3d(0px, 30px, 0px) !important;
}

#mobile-nav li .dropdown.reports-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(0px, 30px, 0px) !important;
  transform: translate3d(0px, 30px, 0px) !important;
}

#mobile-nav li .dropdown.settings-btn-dropdown .dropdown-menu {
  -webkit-transform: translate3d(0px, -220px, 0px) !important;
  transform: translate3d(0px, -220px, 0px) !important;
}

#mobile-nav li .logged-in-user-photo {
  /* margin: auto !important; */
  width: 60px;
  margin: 20px 0px 20px 0px;
}

.sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general {
  color: #fff;
}

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general:hover,
.site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  .btn-general:focus {
  color: #6255a5;
}

.menu-navigation .btn-general {
  width: 89px;
  height: 33px;
}
/* White Navigation */

.white-nav-top {
  background: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 8px 6px -9px #999;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

/* =========================================
                  Footer
  ============================================ */
/* =========================================
                  Social Icons
  ============================================ */
footer {
  padding: 20px;
  background: white;
  border-top: 2px solid #f5f5f5;
}

footer p {
  margin-left: 0px;
  padding-top: 5px;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
}

.social-list {
  padding: 0px;
  margin: 0px;
  float: right;
}

ul.social-list li {
  display: inline-block;
  padding-left: 7px;
  padding: 1px;
}

ul.social-list li a {
  text-align: center;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  border-radius: 50%;
  color: white;
  background: #6255a5;
}

ul.social-list li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background: #00aced;
  border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
  background: #0e76a8;
  border-color: transparent;
}

/*Form-control*/

/* ===============================================================
                     login
  ================================================================== */
/* background image */
.back-image {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

/* =========================================
                  login
  ============================================ */

#login {
  margin: 50px 0px;
}

.top-logo {
  margin-bottom: 25px;
}

#login-box,
#forgot-pswd-box,
#change-pswd-box,
#sign-up-box,
#email-box {
  padding: 40px;
  margin: auto;
  min-height: 390px;
  max-width: 580px;
  background: white;
  border-radius: 3px;
}

#login .h2 {
  margin: 0;
  margin-bottom: 20px;
}

#login .user-guide {
  margin: 0px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}

/* form */
.control-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

/* form input */
.input-box {
  border: 1px solid #d1d1d1;
  max-width: 480px;
  height: 50px;
  border-radius: 3px;
  /* Style for text entered in input box */
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

#email-field.input-box:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #6255a5;
}

#password-field.input-box:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ff5e5e;
  border-left: 2px solid #ff5e5e;
}

.forgot-password-label-box {
  float: right;
}

.forgot-password-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 35px;
  color: #6255a5;
}

.forgot-password-label:hover {
  text-decoration: none;
  color: #6255a5;
}

/* eye image */
.eye {
  float: right;
  position: relative;
  margin: 0px;
  margin-top: -39px;
}

.eye-image {
  margin-right: 40px;
}

.incorrect-password p {
  margin: 0px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #ff3636;
}

.form-check {
  margin-top: 20px;
}

#checkbox {
  border: 1px solid #d1d1d1;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-top: 0px;
}

input[type="checkbox"i] {
  background-color: #6255a5 !important;
}

#remember-me {
  line-height: 20px;
  margin-left: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.form-btn .btn {
  margin-top: 10px;
}

toggle-btwn-login-signup {
  margin-top: 20px;
}

.toggle-btwn-login-signup p {
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.toggle-btwn-login-signup p span a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6255a5;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#login .btn-purple {
  width: 480px;
  font-size: 18px;
  line-height: 22px;
}

.toggle-btwn-login-signup p span a:hover {
  text-decoration: none;
}

/* =========================================
                  forgot-password
  ============================================ */
#forgot-password {
  margin: 150px 0px;
}

#forgot-pswd-box {
  min-height: 300px;
}

#forgot-password h2 {
  line-height: 25px;
  margin-bottom: 20px;
}

#forgot-password .user-guide {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}
/* =========================================
                  change-password
  ============================================ */
#change-pswd-box {
  height: auto;
}

#change-pswd {
  margin: 70px 0px 0px 0px;
}

#change-pswd h2 {
  line-height: 25px;
}

#change-pswd .user-guide {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}

/* =========================================
                  Sign-up
  ============================================ */
#sign-up {
  margin: 30px 0px;
}

#sign-up-box {
  height: auto;
}

#sign-up .user-guide {
  margin: 0px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  color: #333333;
}

.msg p {
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 12px;
  color: green;
}

/* =========================================
                  Email-verification
  ============================================ */
#email-verification {
  padding: 70px 0px 0px 0px;
}

#email-box {
  padding: 30px 30px;
}

#email-verification h2 {
  margin: 50px 0px 30px 0px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

#email-verification h3 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  line-height: 22px;
}

#email-verification p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
}

#email-verification .btn-general {
  margin-top: 20px;
  width: 500px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

/* =========================================
                  User-profile
  ============================================ */
/* nav */
.white-nav .site-header {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  color: #000;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a.btn-general {
  color: #fff;
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a.btn-general:hover {
  color: #6255a5;
}

.white-nav
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  .dropdown-item:hover {
  color: #fff !important;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* mobile nav */
#user-profile #mobile-nav li a.btn-general {
  color: #fff;
  width: 110px;
  text-transform: none;
  height: 40px;
  line-height: 23px;
}

#user-profile #mobile-nav li a.btn-general:hover {
  color: #6255a5;
}

#user-profile #mobile-nav li:nth-child(5) {
  margin-top: 0px;
}

#mobile-nav li .logged-in-user-photo {
  margin: auto;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

#mobile-nav li .logged-in-user-photo img {
  margin-bottom: 8px;
  width: 60px;
  height: 60px;
}

/* content box */
.general-box .content-box-lg {
  padding: 0px;
  padding-top: 60px;
}

#user-profile {
  font-family: "open sans", sans-serif;
}

.top-heading {
  margin-top: 75px;
  height: 250px;
  background: url(../images/User-Profile/banner-with-overlay.jpg) center;
  z-index: -2;
  position: relative;
}

.top-heading p {
  padding-top: 110px;
  text-align: center;
  width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  line-height: 52px;
  font-weight: 600 !important;
  color: #fff;
}

#user-profile label {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 7px;
}

#user-profile input,
option {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a !important;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

.user-profile-photo-uploader {
  position: relative;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  height: 100px;
}

.user-profile-photo-uploader input {
  /* display: none; */
  opacity: 0;
  height: 66px;
  position: absolute;
  top: 0;
}

.user-profile-photo-uploader img {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.user-profile-photo-uploader p {
  text-align: center;
  padding-top: 30px;
  color: #8a8a8a;
}

.notes-preview-uploader img {
  top: 28px;
}

.notes-preview-uploader {
  height: 115px;
}

.notes-preview-uploader input {
  height: 115px;
}

.right-content {
  margin-left: 25px;
}

.right-content-md {
  margin-left: 15px;
}

.right-content-sm {
  margin-left: 12px;
}

#form-heading-1,
#form-heading-2,
#form-heading-3,
#form-heading-4 {
  font-size: 34px;
  font-weight: 600 !important;
  line-height: 35px;
  color: #6255a5;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 180px !important;
  padding-top: 10px !important;
}

#form-heading-1 {
  padding-top: 30px;
}

#user-profile-submit-btn {
  margin-top: 20px;
  margin-bottom: 35px;
  background-color: #6255a5;
  width: 150px;
  height: 45px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
#user-profile .user-profile-photo-uploader p {
  text-align: center;
  padding-top: 30px;
  color: #8a8a8a;
}
#user-profile-submit-btn:hover {
  background-color: white;
  color: #6255a5;
}

/* =========================================
                  Home
  ============================================ */
#home-header .site-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#home-header .site-header .header-wrapper {
  padding: 0px 20px;
}

#home-header .site-header .header-wrapper .logo-wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
}

#home-header .site-header .header-wrapper .logo-wrapper a img {
  padding-bottom: 10px;
}

#home-header .site-header .header-wrapper .logo-wrapper {
  position: relative;
  z-index: 9;
}

#home-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

#home-header
  .sticky-header
  .site-header
  .header-wrapper
  .navigation-wrapper
  .main-navigation
  .menu-navigation
  > li
  a {
  color: #333333;
}

#home {
  background: none;
  height: 450px;
}

#home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
}

#home-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 700px;
  margin: 225px 0px 0px 100px;
}

#home-heading h1 {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  line-height: 54px;
}

#home-heading .heading1 {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  line-height: 54px;
}

#home-text p {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  color: #fff;
}

/*about*/
#about {
  margin: 0px;
  padding: 0px;
}

#about .content-box-lg {
  padding-top: 0px;
  padding-bottom: 50px;
}

.horizontal-heading h5,
.horizontal-heading h2 {
  text-align: left;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  line-height: 38px;
}

#about-rightp: first-child {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin-bottom: 50px;
}

/** Work */

#work {
  padding: 0px;
  background: #f4f4f4;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#work .horizontal-heading {
  margin-top: 50px;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

#work {
  background: #f4f4f4;
}

#work .section-heading {
  margin-bottom: 40px;
}

#download-img,
#sell-img {
  margin: auto;
  margin-bottom: 25px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

#work img {
  padding-top: 35px;
  /* To center image within div */
}

#download-title,
#sell-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 10px;
}

#download-des,
#sell-des {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
  margin-bottom: 25px;
}

#work .btn-purple {
  width: 175px;
  margin-bottom: 50px;
}

/* Customer */

#customers {
  padding: 0px;
}

#customers .horizontal-heading h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

#customers img {
  width: 100px;
  height: 100px;
  margin: 30px 30px;
}

#customers h4 {
  text-align: left;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #6255a5;
  padding-left: 25px;
}

#customers h5 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  padding-left: 25px;
}

#customers p {
  margin: 10px 20px 30px 20px;
  padding: 0 25px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
}

#customers .content-box-md {
  padding-top: 80px;
  padding-bottom: 10px;
}

.testimonial-box {
  padding: 20px;
  border-radius: 3px;
}

.customer-box {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  font-family: "Open Sans", sans-serif;
}

/* =========================================
                  Search-notes
  ============================================ */

/* search page */
#search-notes {
  font-family: "Open sans", sans-serif;
}

#search-heading h4,
#search-heading h2 {
  margin: 25px 0 20px 0;
  text-align: left;
  font-size: 24px;
  font-weight: Semibold(600);
  line-height: 28px;
  color: #6255a5;
}

.form-control {
  color: #333333;
}

.text-hidden {
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.text-hidden:hover {
  text-overflow: clip;
  overflow: visible;
  background-color: rgb(236, 236, 255);
}

#search-result-heading h2 {
  margin: 40px 0 20px 0;
}

.arrow-down {
  background-image: url(../images/User-Profile/down-arrow.png);
  background-repeat: no-repeat;
  background-position: 97% center;
  color: #333333;
  position: relative;
  cursor: pointer;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.form-control {
  color: #888888;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

#search .container {
  background-color: whitesmoke;
  padding: 30px 0 0 0;
}

#search-img {
  margin-left: -23px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-details {
  margin-bottom: 30px;
}

#search-filters {
  margin-left: 30px;
  margin-right: 30px;
}

.search-type {
  margin-bottom: 30px;
}

#search-img i {
  margin-top: 8px;
  font-size: 25px;
  position: relative;
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
  color: #8a8a8a;
}

#search-img input {
  padding-left: 40px;
  height: 42px;
  font-size: 18px;
}
.note-table {
  margin-top: 30px;
  border: 1px solid #d1d1d1;
  height: 600px;
  width: 100%;
  margin-bottom: 30px;
}
.note-table .note-details {
  padding: 30px;
}
.note-table .note-details p span {
  margin-right: 20px;
}

.note-table img {
  border: 1px solid #d1d1d1;
  height: 230px;
  width: 100%;
}

.note-table .note-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #6255a5;
  height: 80px;
}

.note-table .note-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: 35px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin-bottom: 10px;
}

.note-table .user-text {
  color: #df3434;
  margin-left: 6px;
  line-height: 20px;
}

.note-table .note-icon span img {
  height: 20px;
  width: auto;
}

/*---- notes-rating ----*/

.notes-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.notes-rating .col-md-7,
.notes-rating .col-md-5 {
  padding: 0px;
}

.notes-rating .reviews {
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  margin-bottom: 0px;
}

.rate {
  float: left;
  height: 46px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  width: 25px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ffc700;
}

.rate:not(:checked) > label:before {
  content: "★";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/*------------ pagination ---------------- */

.pagination {
  margin-top: 30px;
  margin-bottom: 40px;
}

.page-item:nth-child(2) .page-link {
  background-color: #6255a5;
  color: #fff;
}

li.page-item {
  width: 36px;
  height: 36px;
  margin: 0px 5px 0px 5px;
}

li.page-item a {
  width: 36px;
  height: 36px;
}

li.page-item a {
  padding-left: 14px;
}

.page-item:last-child .page-link img,
.page-item:first-child .page-link img {
  margin-bottom: 4px;
  width: 8px;
  height: 15px;
  color: #333333;
}

.page-item:first-child {
  margin-right: 8px;
}

.page-item:first-child .page-link img {
  margin-left: -3px;
}

.page-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  color: #333333;
  border-radius: 50%;
  -webkit-transition: all ease-out 0.15s;
  transition: all ease-out 0.15s;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
  border: none;
  border-radius: 50%;
}

.page-link:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #6255a5;
  border-color: #6255a5;
  text-decoration: none;
}

.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:hover {
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  border: 1px solid #6255a5;
}

.page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #6255a5;
  border-color: #6255a5;
  text-decoration: none;
}

.page-item:last-child .page-link:focus,
.page-item:first-child .page-link:focus {
  background-color: #fff;
  border-color: #fff;
  border: 1px solid #6255a5;
  text-decoration: none;
}

/* =========================================
                  Note-details
  ============================================ */
#notes-details .notes-upper.content-box-lg {
  padding-top: 150px;
}

#notes-details .content-box-lg {
  padding: 60px 0px 40px 0px;
}

.border-bottom {
  border-bottom: 1px solid #d1d1d1;
  margin: 5px 90px;
}

.notes-heading-1,
.notes-heading {
  margin-top: 0px;
  font-family: "Open-Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 20px;
}

.notes-img {
  height: 300px;
  width: 240px;
}

.notes-details-box {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.notes-name {
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Open-Sans", sans-serif;
  font-size: 31px;
  /font-weight: 600;
  line-height: 38px;
  color: #6255a5;
  margin-bottom: 15px;
}

.notes-type {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}

.notes-des {
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin-bottom: 20px;
}

#notes-details .btn-purple {
  width: 200px;
}

.notes-details-left-section {
  margin-left: 100px;
}

.notes-details-left-section .about-notes {
  font-family: "Open-Sans", sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #333333;
}

.notes-details-right-section .about-notes {
  font-family: "Open-Sans", sans-serif;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #6255a5;
}

.notes-details-right-section .about-notes span i {
  text-align: left;
  color: #deb217;
  margin-right: 0px;
}

#notes-details .user-review {
  margin-left: 100px;
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #df3434;
}

/* notes review */
.notes-preview-box {
  margin-right: 15px;
}

.notes-preview-box iframe {
  margin-right: 20px;
  height: 510px;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}

.review-section {
  margin-left: 30px;
}

.review-box {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  padding: 30px;
}

.reviewer-img {
  width: 50px;
  height: 50px;
}

.review-box-des p {
  margin-bottom: 0px;
}

.reviwer-name {
  margin-top: 10px;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
}

.reviewer-rating {
  margin-top: 0px;
}

.reviewer-rating span img {
  height: 20px;
}

.reviewer-text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.review-border {
  border-bottom: 1px solid #d1d1d1;
  margin: 20px 0px;
}

/* thanks popup */

.modal-content {
  border: none;
}

.modal-header {
  border: none;
  height: 50px;
}

.modal-body {
  padding: 0px 40px 30px 40px;
}

.modal-header button.close {
  outline: none;
}

#notes-details .modal-body .thanks-img {
  margin-bottom: 15px;
}

.modal-body p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

#thanks-popup.modal-body p.buyers-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: Semibold(600);
  color: #333333;
}

#thanks-popup .modal-body p:last-child {
  margin-bottom: 0px;
}

#thanks-popup .modal-body .thanks-heading {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  font-weight: Semibold(600);
  color: #6255a5;
}

/* =========================================
                  Dashboard
  ============================================ */
#dashboard .content-box-lg {
  padding: 60px 0px;
  padding-top: 30px !important;
}

.dashboard-heading,
.download-heading {
  font-family: "Open-Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

#dashboard .add-note-btn {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  width: 150px;
  font-weight: 700;
}

#dashboard .box-heading {
  margin-top: 15px;
}

.dashboard-left {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

.dashboard-box {
  padding: 25px 20px;
}

.dashboard-box p {
  margin-bottom: 0px;
}

.my-earning-heading img {
  margin-top: 10px;
  margin-bottom: 0px;
}

.my-earning-heading p.box-heading {
  margin: 0px;
  font-size: 22px;
  text-align: left;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}

.my-earning-heading,
.numbers-of-notes,
.money-earned {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.numbers-of-notes {
  border-left: 1px solid #d1d1d1;
}

.dashboard-single-detail {
  margin-top: 20px;
  margin-bottom: 10px !important;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #6255a5;
}

.dashboard-detail-heading {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

.dashboard-right .dashboard-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 0px 15px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

/*progress Notes*/
.progress-heading {
  margin-top: 20px;
  font-family: "Open-Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}

.general-search-bar-btn-wrapper {
  float: right;
  padding-left: 300px;
}

.progress-btn {
  margin-left: 10px;
  width: 117px;
  height: 50px;
  line-height: 22px;
}

.search-in .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 40px;
  height: 50px;
  margin-top: 5px;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search-in .form-control {
  padding-left: 35px;
}

.search-bar {
  height: 50px;
}

/* table */

.general-table-responsive {
  margin-top: 5px;
  margin-bottom: 30px;
}

.general-table-responsive .table-bordered td,
.general-table-responsive .table-bordered th {
  border: none;
}

.general-table-responsive .table-bordered {
  border: 1px solid #d1d1d1;
  border-radius: 3px !important;
}

.general-table-responsive .table-bordered thead {
  border-bottom: 1px solid #d1d1d1;
}

.general-table-responsive .table-bordered tr {
  height: 75px;
  border-bottom: 1px solid #d1d1d1;
}

.general-table-responsive th,
.general-table-responsive td {
  vertical-align: middle !important;
}

.general-table-responsive .table-bordered tr th {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
}

.general-table-responsive .table-bordered tr td {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.general-table-responsive .table-bordered tr {
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.general-table-responsive .table-bordered tr:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.general-table-responsive .edit-img-in-table {
  margin-right: 15px;
}

#dashboard .progress-notes-table {
  margin-bottom: 0px;
}

#dashboard .pagination {
  margin-bottom: 0px;
}

#dashboard .content-box-lg {
  padding-bottom: 20px;
}

#dashboard
  .progress-notes-table.general-table-responsive
  .table-bordered
  td
  .eye-img-in-table,
#dashboard
  .published-notes-table.general-table-responsive
  .table-bordered
  td
  .eye-img-in-table {
  margin: 0px;
}

#dashboard footer {
  margin-top: 40px;
}

/* table responsive  */

.general-table-responsive .table-bordered tr td,
.general-table-responsive .table-bordered tr th {
  white-space: nowrap;
  overflow: hidden;
}

.general-table-responsive .table-bordered tr td.visible-overflow-for-dropdown {
  white-space: normal !important;
  overflow: visible !important;
}

/* =========================================
                  Add-Notes
  ============================================ */
#add-notes label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 7px;
}

.form-control {
  height: 50px;
}

#add-notes input,
option {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #8a8a8a !important;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

#add-notes-textarea {
  height: 130px;
  width: 102%;
}

#upload-note {
  width: 100%;
}

/* free-paid wrapper */
.free-paid-radio-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.free-paid-radio-wrapper input {
  width: 25px;
  height: 25px;
  margin: 0px 0px 0px 0px;
}

#add-notes .info-label-check {
  margin-top: 15px;
}

#add-notes .user-profile-photo-uploader {
  height: 150px;
  width: 100%;
}

#add-notes .upload-note-preview img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.note-img-upload {
  margin-top: 35px;
  margin-right: 50px;
}

.user-profile-photo-uploader p {
  text-align: center;
  padding-top: 65px;
  color: #8a8a8a;
}

.free-paid-radio-wrapper label {
  margin: 0px;
  margin-right: 10px;
}

.form-btn .save-note-btn {
  margin-right: 20px;
  margin-bottom: 40px;
  width: 150px;
}

.form-btn .publish-note-btn {
  width: 150px;
  margin-left: 20px;
}

/* purple radio */

.purple-radio-input {
  height: 30px;
  display: block;
  position: relative;
  padding-left: 25px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.purple-radio-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: none;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.purple-radio-input input:checked ~ .checkmark {
  background-color: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.purple-radio-input input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.purple-radio-input .checkmark:after {
  top: 6.5px;
  left: 6.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6255a5;
}

/* =========================================================================
                                  my-downloads.html
  ============================================================================ */
#my-downloads .content-box-lg {
  padding: 60px 0px 0px 0px;
}

.total-notes {
  padding-top: 80px;
}

.general-table-responsive table tbody tr td a img.dots-in-table {
  margin: 0px;
  width: 4px;
  height: 20px;
}

.general-table-responsive table tbody tr td .dropdown {
  display: inline;
  margin: 0px;
  width: 4px;
}

.general-table-responsive table tr td.purple-td {
  color: #6255a5;
}

.eye-img-in-table {
  margin-right: 15px;
}

/* dropdown */
.dropdown-dots-table .dropdown-item {
  height: 40px;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 32px !important;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}

.dropdown-dots-table .dropdown-item:hover {
  background: #6255a5;
  color: #fff !important;
}

.dropdown-dots-table .dropdown-item.active {
  background: #6255a5;
  color: #fff !important;
}

/* center alignment dropdown with img  */
.dropdown.dropdown-dots-table .dropdown-menu {
  -webkit-transform: translate3d(-220px, 25px, 0px) !important;
  transform: translate3d(-220px, 25px, 0px) !important;
}

/* review popup */

#download-popup .modal .add-review-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 35px;
}

#download-popup .modal .modal-body .add-reviews-stars img {
  height: 45px;
  width: 45px;
  margin-right: 15px;
  margin-bottom: 40px;
}

#download-popup .modal .modal-body .form-group .input-box-style {
  border: 1px solid #d1d1d1;
  height: 100px;
}

#download-popup .info-label {
  margin-bottom: 10px;
}

#download-popup .modal .modal-body .form-group .input-box-style:focus {
  border: 2px solid #d1d1d1;
}

#download-popup .modal .modal-body .form-btn .btn-general {
  width: 150px;
}

/* dropdown */

.dropdown.dropdown-dots-table .dropdown-item {
  height: 40px;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 32px !important;
  -webkit-transition: all ease-in 0.15s;
  transition: all ease-in 0.15s;
}

.dropdown-dots-table .dropdown-item:hover {
  background: #6255a5;
  color: #fff !important;
}

.dropdown-dots-table .dropdown-item.active {
  background: #6255a5;
  color: #fff !important;
}

/* center alignment of dropdown with element */
.dashboard-published-notes-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.members-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.member-notes-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.spam-reports-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.notes-under-review-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.published-notes-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.rejected-notes-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu,
.downloaded-notes-table.general-table-responsive
  .dropdown.dropdown-dots-table
  .dropdown-menu {
  -webkit-transform: translate3d(-170px, 25px, 0px) !important;
  transform: translate3d(-170px, 25px, 0px) !important;
}

/* =========================================================================
                                  sold-notes
  ============================================================================ */
#buyer-requests .container {
  padding: 0px;
}

#sold-notes .content-box-lg,
#rejected-notes .content-box-lg {
  padding: 80px 0px 0px 0px;
}

#buyer-requests .content-box-lg {
  padding: 120px 0px 0px 0px;
}

#sold-notes .dropdown-dots-table .dropdown-menu,
#rejected-notes .dropdown-dots-table .dropdown-menu,
#buyer-requests .dropdown-dots-table .dropdown-menu {
  -webkit-transform: translate3d(-160px, 25px, 0px) !important;
  transform: translate3d(-160px, 25px, 0px) !important;
}

/* dropdown */

.dropdown-menu {
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* =========================================================================
                                  faq
  ============================================================================ */

.site-header
  .header-wrapper
  .navigation-wrapper
  .main-nav
  .menu-navigation
  li.active
  a {
  border-bottom: 3px solid #6255a5;
  padding-bottom: 6px;
  margin-top: 6px;
}

#mobile-nav ul li {
  list-style: none;
  margin-top: 20px;
  padding-left: 0px !important;
}

#mobile-nav ul li.active a {
  border-bottom: 3px solid #6255a5;
  padding-bottom: 3px;
  list-style: none;
}

#mobile-nav .nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#faq .content-box-lg {
  padding: 20px 0px;
}

#faq .general-box .accordion {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#faq .faq1-heading {
  margin-top: 60px;
  font-family: "Open-Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

#faq .faq-heading {
  font-family: "Open-Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

#faq .card-header {
  height: 50px;
}

#faq .card-body {
  font-size: 16px;
  line-height: 22px;
  font-weight: Regular(400);
  color: #333333;
}

#faq .card-header p {
  font-size: 18px;
  font-weight: Semibold(600);
  line-height: 22px;
  color: #333333;
  margin-bottom: 0px;
}

.faq-plus {
  float: right;
  position: relative;
  top: -30px;
  right: -15px;
}

.faq-minus {
  display: none;
  float: right;
  position: relative;
  top: -30px;
  right: -15px;
}

.faq-plus button:focus,
.faq-plus button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.faq-minus button:focus,
.faq-minus button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#faq .faq7 {
  margin-bottom: 50px;
}

/* =========================================================================
                                  Contact-us
  ============================================================================ */
#contact-us h4 {
  text-align: left;
}

#contact-us h6 {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: none;
}

#contact-us label {
  margin-top: 30px;
  margin-bottom: 10px;
}

#contact-us .s3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact-us .form-control {
  height: 50px;
}

#contact-us #contact-textarea {
  height: 275px;
  width: 100%;
}

#contact-btn {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  height: 50px;
  width: 150px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
